* {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
}

/* Выравнивание по центру */
.popularsweets {
   text-align: center;
   width: 307px;
   height: 32px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;

   color: #40311C;
   flex: none;
   order: 0;
   flex-grow: 0;
   margin-left: auto;
   margin-right: auto;
}

/* Шоколадные конфеты брауни */
.product1 {
   box-sizing: border-box;
}

.product1 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(3em, 5em);

}

.product1:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product1 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Мягкий клубничный шоколад */
.product2 {
   box-sizing: border-box;
}

.product2 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(3em, 6.5em);

}

.product2:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product2 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Клубничный покки */
.product3 {
   box-sizing: border-box;
}

.product3 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(3em, 7.5em);

}

.product3:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product3 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Воздушные рисовые крекеры бурборн с майонезом */
.product4 {
   box-sizing: border-box;
}

.product4 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(20em, -58.5em);

}

.product4:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product4 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Конфеты с дыней Юбари */
.product5 {
   box-sizing: border-box;
}

.product5 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(20em, -57em);

}

.product5:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product5 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Желе конняку YUKIGUNI */
.product6 {
   box-sizing: border-box;
}

.product6 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(20em, -54.5em);

}

.product6:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product6 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Леденцы из маринованной сливы*/
.product7 {
   box-sizing: border-box;
}

.product7 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(39em, -119.3em);

}

.product7:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product7 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Японское леденцовое ассорти */
.product8 {
   box-sizing: border-box;
}

.product8 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(39em, -117.8em);

}

.product8:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product8 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Шоколадный батончик */
.product9 {
   box-sizing: border-box;
}

.product9 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(39em, -115.4em);

}

.product9:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product9 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Дынный желе-щербет */
.product10 {
   box-sizing: border-box;
}

.product10 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(58em, -180.2em);

}

.product10:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product10 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Кислые жевательные конфеты */
.product11 {
   box-sizing: border-box;
}

.product11 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(58em, -178.7em);

}

.product11:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product11 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Тайаки */
.product12 {
   box-sizing: border-box;
}

.product12 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(58em, -175em);

}

.product12:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product12 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Манговое желе */
.product13 {
   box-sizing: border-box;
}

.product13 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(75em, -234.4em);

}

.product13:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product13 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Рисовые снеки */
.product14 {
   box-sizing: border-box;
}

.product14 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(75em, -231.5em);

}

.product14:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product14 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #fafafa;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Съедобный бокс для детей */
.product15 {
   box-sizing: border-box;
}

.product15 {
   width: 208px;
   height: 208px;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;

   background: #DFCFDF;
   border-radius: 30px;
   font-family: "Open Sans";
   transition: .3s ease-in;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   transform: translate(75em, -229em);

}

.product15:hover {
   border-bottom: 2px solid #7e5b5b;
}

.product15 img {
   display: block;
   width: 100%;
}

.product-list {
   background: #ffffff;
   padding: 15px 0;
}

.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {

   width: 73px;
   height: 24px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.price2 {

   height: 24px;
   display: inline-block;
   transform: translate(3em, 0em);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-decoration-line: line-through;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 40px;
   gap: 20px;

   width: 60px;
   height: 20px;

   background: #F8CFD2;
   border-radius: 30px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.product-item:hover .button {
   background: #F8CFD2;
}

/* Кнопка показать еще */
.button1 {
   width: 109px;
   height: 22px;

   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   /* identical to box height */
   flex: none;
   order: 0;
   flex-grow: 0;

   color: #40311C;
   display: inline-block;
   transform: translate(28.2em, -224em);
}

/* Отзывы */

.reviews1 {
   text-align: center;
   width: 307px;
   height: 32px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;

   color: #40311C;
   flex: none;
   order: 0;
   flex-grow: 0;
   margin-left: auto;
   margin-right: auto;
   display: inline-block;
   transform: translate(19.5em, -134em);

}

.fon1 {
   position: absolute;
   width: 500px;
   height: 509.44px;
   left: 2px;
   top: 2007px;

   background: url(image.png);

   background: #E5DBE7;

}

.fon2 {
   position: absolute;
   width: 500px;
   height: 509.44px;
   left: 469px;
   top: 2007px;

   background: url(image.png);

   background: #E5DBE7;

}

.fon3 {
   position: absolute;
   width: 500px;
   height: 509.44px;
   left: 941px;
   top: 2007px;

   background: url(image.png);

   background: #E5DBE7;

}

/*Закругление после популярных сладостей слева*/
.polygon4 {
   position: absolute;
   width: 541.65px;
   left: 0em;
   top: 1867px;
}

/*Закругление после популярных сладостей справа*/
.polygon3 {
   position: absolute;
   width: 541.65px;
   left: 56.2em;
   top: 2001px;
}

.fon4 {
   position: absolute;
   width: 500px;
   height: 509.44px;
   left: -2px;
   top: 2500.61px;
   background: url(image.png);
   background: #E5DBE7;
}

.fon5 {
   position: absolute;
   width: 500px;
   height: 509.44px;
   left: 465px;
   top: 2501.73px;
   background: url(image.png);
   background: #E5DBE7;
}

.fon6 {
   position: absolute;
   width: 500px;
   height: 509.44px;
   left: 942px;
   top: 2503.95px;
   background: url(image.png);
   background: #E5DBE7;
}

.fon7 {
   position: absolute;
   width: 500px;
   height: 509.44px;
   left: 2px;
   top: 2820.8px;
   background: url(image.png);
   background: #E5DBE7;
}

.fon8 {
   position: absolute;
   width: 500px;
   height: 509.44px;
   left: 502px;
   top: 2820.8px;
   background: url(image.png);
   background: #E5DBE7;
}

.fon9 {
   position: absolute;
   width: 500px;
   height: 509.44px;
   left: 942px;
   top: 2820.8px;
   background: url(image.png);
   background: #E5DBE7;
}

/*Фон контейнер*/

.background-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   /*работает с display: flex; выравнивает объекты между собой*/
   background-color: #E5DBE7;
   width: 1538px;
   position: absolute;
   top: 3329.8px;
   left: -6em;
}

.reviews {
   position: absolute;
   left: 660px;
   top: 2100px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
   color: #5C2F5E;
}

/*Квадрат в отзывах 1*/
.circle1 {
   width: 456px;
   height: 459px;
   border-radius: 60px;
   background: #ffffff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 28px;
   gap: 12px;
   position: absolute;
   left: 8em;
   top: 2200px;
   filter: drop-shadow(0 0 10px #825884);
   transition: 1s;
   /* Время эффекта */
}

.circle1:hover {
   transform: scale(1.04);
   /* Увеличиваем масштаб */
}

/*Изображение Артема*/
.artem {
   display: inline-block;
   position: relative;
   top: 5em;
}

.text-artem {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #3B183C;
   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   position: relative;
   top: -1.7em;
   left: 8.9em;
}

/*Звезды*/
.star-artem-1 {
   display: inline-block;
   position: relative;
   top: -3em;
   left: 15.5em;
}

.star-artem-2 {
   display: inline-block;
   position: relative;
   top: -5.13em;
   left: 17em;
}

.star-artem-3 {
   display: inline-block;
   position: relative;
   top: -7.23em;
   left: 18.5em;
}

.star-artem-4 {
   display: inline-block;
   position: relative;
   top: -9.33em;
   left: 20em;
}

.star-artem-5 {
   display: inline-block;
   position: relative;
   top: -11.45em;
   left: 21.5em;
}

/*Сам отзыв Артема*/
.text-artem-reviews {
   line-height: 1.5;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
   color: #3B183C;
   flex: none;
   order: 1;
   flex-grow: 0;
   display: inline-block;
   position: relative;
   top: -6em;
}

/*Квадрат в отзывах 2*/
.circle2 {
   width: 456px;
   height: 459px;
   border-radius: 60px;
   background: #ffffff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 28px;
   gap: 12px;
   position: absolute;
   left: 50em;
   top: 2200px;
   filter: drop-shadow(0 0 10px #825884);
   transition: 1s;
   /* Время эффекта */
}

.circle2:hover {
   transform: scale(1.04);
   /* Увеличиваем масштаб */
}

/*Изображение Оксаны*/
.oksana {
   display: inline-block;
   position: relative;
   top: 5em;
}

.text-oksana {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #3B183C;
   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   position: relative;
   top: -1.7em;
   left: 8.5em;
}

/*Звезды*/
.star-oksana-1 {
   display: inline-block;
   position: relative;
   top: -3em;
   left: 15.5em;
}

.star-oksana-2 {
   display: inline-block;
   position: relative;
   top: -5.13em;
   left: 17em;
}

.star-oksana-3 {
   display: inline-block;
   position: relative;
   top: -7.23em;
   left: 18.5em;
}

.star-oksana-4 {
   display: inline-block;
   position: relative;
   top: -9.33em;
   left: 20em;
}

.star-oksana-5 {
   display: inline-block;
   position: relative;
   top: -11.45em;
   left: 21.5em;
}

/*Сам отзыв Оксаны*/
.text-oksana-reviews {
   line-height: 1.5;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
   color: #3B183C;
   flex: none;
   order: 1;
   flex-grow: 0;
   display: inline-block;
   position: relative;
   top: -6em;
}


/*Квадрат в отзывах 3*/
.circle3 {
   width: 456px;
   height: 459px;
   border-radius: 60px;
   background: #ffffff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 28px;
   gap: 12px;
   position: absolute;
   left: 71em;
   top: 2200px;
   transition: 1s;
   /* Время эффекта */
   filter: drop-shadow(0 0 10px #825884);
   /*свечение*/
}

.circle3:hover {
   transform: scale(1.04);
   /* Увеличиваем масштаб */
}

/*Изображение Ксении*/
.kseniya {
   display: inline-block;
   position: relative;
   top: 5em;
}

.text-kseniya {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #3B183C;
   flex: none;
   order: 0;
   flex-grow: 0;
   display: inline-block;
   position: relative;
   top: -1.7em;
   left: 8.5em;
}

/*Звезды*/
.star-kseniya-1 {
   display: inline-block;
   position: relative;
   top: -3em;
   left: 15.5em;
}

.star-kseniya-2 {
   display: inline-block;
   position: relative;
   top: -5.13em;
   left: 17em;
}

.star-kseniya-3 {
   display: inline-block;
   position: relative;
   top: -7.23em;
   left: 18.5em;
}

.star-kseniya-4 {
   display: inline-block;
   position: relative;
   top: -9.33em;
   left: 20em;
}

.star-kseniya-5 {
   display: inline-block;
   position: relative;
   top: -11.45em;
   left: 21.5em;
}

/*Сам отзыв Ксении*/
.text-kseniya-reviews {
   line-height: 1.5;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
   color: #3B183C;
   flex: none;
   order: 1;
   flex-grow: 0;
   display: inline-block;
   position: relative;
   top: -6em;
}

.questions {
   font-style: normal;
   font-weight: 700;
   font-size: 27px;
   color: #3B183C;
   /* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   text-align: center;
   transform: translate(0em, -101em);
}

.container-questions {
   display: inline-block;
   text-align: center;
   margin: 0;
   padding: 0;
   position: absolute;
   transform: translate(21em, -165em);
}

/*FAQ section, where the accordion is kept, including section specific css*/
#faq {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 100vh;
   position: relative;
   top: -8em;
}

#faq .add {
   /*Add is the name for the plus icon*/
   display: block;
}

#faq .remove {
   /*Remove is the name for the less icon*/
   display: none;
}

#faq i {
   font-size: 30px;
}

/*Accordion container and each item*/
.accordion {
   max-width: 800px;

   margin: 0 auto;
   padding: 0 1.5rem;
}

.accordion-item {
   background-color: transparent;
   border-bottom: 3px solid #3B183C;

   margin-bottom: 10px;
   padding: 10px;
}

/*Styles for the question*/

.accordion-title {
   display: flex;

   align-items: center;
   justify-content: space-around;

   color: #3B183C;
   font-size: 18px;
   font-family: Open Sans;
   font-weight: 600;

   width: 100%;
   padding: 1rem 0;
   cursor: pointer;
   transition-duration: 0.5s;
}

.accordion-title:hover {
   color: #3B183C;
}

.accordion-title h2 {
   width: 80%;
}

/*Styles for the answer*/

.accordion-content {
   max-height: 0;
   overflow: hidden;
   position: relative;
   background-color: #ffffff;
   transition: max-height 0.6s;
   font-family: Open Sans;
   font-weight: 400;
}

.accordion-content p {
   padding: 20px;
   color: #3B183C;
}

.to-return {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */
color: #3B183C;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
text-align: center;
transform: translate(0em, -130em);
}

.to-return>a {
   text-decoration: none;
   color: #3B183C;
}
/*
---------FOOTER----------
*/
.footer-wrap{
   display: flex;
   justify-content: center;
   transform: translate(0em, -106em);
}
.footer-logo{
   width: 460px;
   height: 250px;

}
.footer-nav{
   margin-right: 115px;
   
}
.footer-nav-list{
   display: flex;
   flex-direction: column;
}
.footer-nav-item{
   margin-bottom: 3px;
}
.footer-nav-item-link{
   text-decoration: none;
}
.footer-contats{
   margin-right: 75px;
}
.footer-contacts-list{
   list-style: none;
}
.footer-contacts-subtitle{
   margin-bottom: 10px;
}
.footer-contacts-item{
   margin-bottom: 20px;
}
.contacts-subtitle-text{
   color: #E7DAC7;
   font-weight: 400;
   font-size: 13px;
   margin-bottom: 10px;
}
.contacts-item-number{
   text-decoration: none;
}
.footer-nav-title, .footer-contacts-title{
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 15px;
}
.footer-socialNetworks-title{
   font-weight: 400;
   font-size: 13px;
   color: #E7DAC7;
   margin-bottom: 15px;
   text-align: center;
}
.socialNetworks-links-img{
   width: 60px;
   height: 60px;
   margin-right: 15px;
}
