body {
    width: 1440px;
    height: 3743px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
    
*:before,
*:after {
    box-sizing: border-box;
    width: 1440px;
    height: 3743px;
}

.container {
    margin: 0 auto
}

.cap {
    background: #E5DBE7;
    height: 700px;
    min-width: 1440px;
    font-family: 'Montserrat', sans-serif;
}

/* О нас */
.about {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 47px;
    height: 20px;
    color: #5C2F5E;
    display: inline-block;
    transform: translate(23em, 2em);
    
}

/* Каталог товаров */
.catalog {
    display: inline-block;
    transform: translate(25em, 2em);
    width: 137px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5C2F5E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Оплата и доставка */
.payment {
    display: inline-block;
    transform: translate(27em, 2em);
    width: 155px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5C2F5E;
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* +7 900 000 00 00 */
.telephone {
    display: inline-block;
    transform: translate(52em, 2.5em);
    width: 106px;
    height: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(92, 47, 94, 0.5);
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Логотип в шапке (1 изображение) */
.logo {
    width: 130px; 
    height: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transform: translate(8em, 5.2em);
    background: url(.png);
    border-radius: 12px;
}

/* Поиск */

.header-wrapper{
    margin-bottom: 30px;
}
.header-logo{
    width: 130px;
    height: 70px;
    padding-top: 10px;
}
.header-container-nav{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 200px;
}
.header-nav > a{
    padding-left:30px;
    padding-right:30px;
}
.header-nav-element{
    font-size: 16px;
    text-decoration: none;
}
.header-phoneNumber{
    font-size: 12px;
    color: rgba(64, 49, 28, 0.5);
    margin-top: 15px;
}
.header-wrapper, .header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-container{
    justify-content: space-between;
}

.header-form{
    display: inline-block;
    transform: translate(14.5em, -36em);
}
.header-form-searchBar{
    width: 930px;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: none;
    padding-left: 15px;
    margin-left: 40px;
    margin-right: 40px;
}
.header-form-button{
    height: 25px;
    width: 25px;
    border: none;
    margin-left: -70px;
    margin-right: 15px;
    background: none;
}
.search{
    background: none;
}
.header-container-links>a{
    padding-left: 10px;
}
.shop_cart{  /*изображение корзины*/
    height: 25px;
    width: 25px;
    position: absolute;
    transform: translate(-13.5em, -35.85em);
}
.customer{  /*изображение человечка*/
    height: 25px;
    width: 25px;
    position: absolute;
    transform: translate(-12em, -35.85em);
}

 /*Текст шапки*/

.text-caps {
    position: absolute;
    width: 643px;
    height: 130px;
    left: 220px;
    top: 318px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #5C2F5E;

}

/*Кот на главной странице*/

.cat {
    position: absolute;
    width: 440px;
    height: 423px;
    left: 879px;
    top: 195px;
}

/*ветка сакуры слево*/

.sakyra {
    position: absolute;
    width: 320px;
    left: -0.4em;
    top: 515px;
    background: url(image.png);
    transform: rotate(3deg);
}

/*ветка сакуры справо*/

.sakyra2 {
    position: absolute;
    width: 327.26px;
    left: 70.4em;
    top: 608px;
    background: url(image.png);
    transform: rotate(-172deg);
}

/*изгиб где ветка сакуры слева*/

.polygon1 {
    position: absolute;
    left: 0em;
    top: 535px;
}

/*изгиб где ветка сакуры права*/

.polygon2 {
    position: absolute;
    left: 53.95em;
    top: 700px;
}


